<article class="main-article">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="side">
          <br>
            <h2>Bemutatkozás</h2>
          <br>
            <p>A shelter egy menhely, kutyák és macskák számára, valamint átmeneti állatpanzió, ahol vigyázunk a kisállatra, amíg a gazdi nyaralni megy, vagy valami miatt el kell utaznia és nem tudja magával vinni kedvencét. Az adatbázisba minden állat és amennyiben van neki a gazdája is bekerül.
  
                A menhelyes kutyáknak minden állatkórházi kezeléséről listát vezetünk, hogy ha valaki szeretné örökbe fogadni, tisztában legyen a régebbi betegségeivel. Egy felhasználó (role_ugyfel) regisztrálás után, többféle szűrési feltétellel kilistázhatja a menhelyes állatokat, hogy a saját feltételeinek legmegfelelőbb állatot találja meg magának. A dolgozók (role_admin) hozzáadhatnak állatokat, ha új lakó érkezett a menhelyre, törölhetnek vagy módosíthatnak az állatokon, ha valamelyik információ megváltozott. Ha egy állatot örökbe fogadnak, benne marad az adatbázisban és hozzá rendeljük az új gazda adatait, hogy később is legyem információnk az állatról.
                
                A panzióban az állatok megőrzése fix napi összeg ellenében lehetséges. Ha beírjuk hogy hány napig marad, autómatikusan kiszámolódik a fizetendő összeg, ami kutya és macska esetében eltérő.</p>
        
              <!-- <table class="center">
                <tr>
                  <td><img src="assets/img/dog.jpg"></td>
                  <td><img src="assets/img/cat.jpg"></td>
                </tr>
              </table> -->
      </div>
        
      </div>
      
    </div>
  </div>
  <!-- <app-owner-post></app-owner-post> -->
  <app-hotel></app-hotel>
  </article>
  