<article class="main-article">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Tulajdonosok</h1>
        <div class="main-div" *ngIf="!ownersLoading">
            <table id="customers">
                <tr>
                  <th>Név</th>
                  <th>Telefonszám</th>
                  <th>Email</th>
                  <th>Cím</th>
                  <th *ngIf="isAdmin" >Műveletek</th>
                </tr>
            
            <tr *ngFor="let owner of owners" (click)="navigateTo(owner.id)">
                <td>{{owner.name}}</td>
                <td>{{owner.phoneNumber}}</td>
                <td>{{owner.email}}</td>
                <td>{{owner.address}}</td>
                <td  *ngIf="isAdmin" class="vert-aligned">
                    <div class="btn-group">
                  <button class="button" [routerLink]="['/owner/put/'+owner.id]">Szerkesztés</button>
                          
                  <button class="button" (click)="delete(owner.id, $event)">Törlés</button>
                </div>
                </td>
              </tr>
            </table>
        </div>
      </div>
    </div>
  </div>
</article>